<%- include('extras/header') %>
<%    if(sermon === []){        %>
    <div class="admin_card">
        <div class="card__header">
            <h2> NO Message Update!</h2>
            <small id="date"></small>
        </div>  
    </div>
<% }else{ %>
    <%    sermon.forEach((message) =>{ %>
        <div class="cards">
            <div class="full__card">
                <h2>Message Update!</h2>
                <small id="date"></small>
            </div>
            <div class="card__body">
                <h2 class="card_body_text"><%= message.messageTitle%></h2>
                <p class="card_body_text"><%= message.messageDetails %></p>
            </div>
            <div class="card__footer">
                <p>To download the message</p>
                <a href="#" class="message__link">Click here</a>
            </div>   
        </div> 
    <%    }) %>
<% }   %>

<%- include('extras/footer') %>