<footer>
    <div class="contact__us">
        <p class="follow">contact us at:</p>
        <span class="span"><a href="#"><i class="fa fa-solid fa-envelope icons"></i></a>rcfuchbiblestudy@gmail.com</span>
    </div>
    <div class="follow__us">
        <p class="follow">Follow us at:</p>
        <span class="span"><a href="#"><i class="fa fa-brands fa-facebook icons"></i></a>facebook</span>
        <span class="span"><a href="instagram.com/we_are_rcfuch/"><i class="fa fa-brands fa-instagram icons"></i></a>instagram</span>
    </div>
    <p class="poi"></p>
</footer>

</body>
</html>
