<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Official  page</title>
    <script src="https://kit.fontawesome.com/7d262c3cda.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Arima:wght@100;200&family=Bitter:ital,wght@1,100;1,200&family=Darker+Grotesque:wght@400;500;600&family=Edu+SA+Beginner:wght@400;500&family=Gentium+Book+Plus:ital@1&family=Lobster&family=Pacifico&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Zilla+Slab:ital,wght@0,300;1,300;1,400&display=swap" rel="stylesheet">
<script src="/index.js" defer></script>
<script src="/adminpage.js" defer></script>
</head>
<body>
    <div class="headed" id="headed">
        <div class="nav__logo">
            <div class="logo__set">
             <img src="/image/screenshot_20201207-083426-removebg-preview.webp" class="logo" alt="the RCF logo">
                <p class="healing">Healing the Land through His Word</p>
            </div>
            <div class="iconic">
                <i class="fa-solid fa-bars menu__icons bars activate"></i>
                <i class="fa-solid fa-xmark menu__icons cancel not__activate"></i>
            </div>
            
        </div>
        <div class="nav">
            
            <div >
                <ul class="nav__redirect">
                    <li ><a href="/" class="nav__each">Home</a></li>
                    <li ><a href="/about" class="nav__each" >about</a></li>
                    <li ><a href="/messages" class="nav__each" >Messages</a></li>
                    <li ><a href="/testimonies" class="nav__each">Testimonies</a></li>
                    <li ><a href="/adminaccess" class="nav__each  admin">Admin</a></li>
                    <i class="fa-solid fa-magnifying-glass search__icon"></i>
                </ul>
                
            </div>
            <div class="contct">
                <a href="#" class="contac">CONTACT US</a>
            </div>    
        </div>
        <div class="search">
            <input type="text" placeholder="search" name="search">
            <button type="submit">submit</button>
        </div>
        <div class="welcome__page">
            <div class="welcome__left">
                <h1>THE REDEEMED CHRISTIAN FELLOWSHIP</h1>
                <H4><em>Healing the land through His word</em></H4>
            </div>
        </div>
    </div>